
      <div id="wrapper">
       <nav class="navbar nav-cls-top" role="navigation" style="border:0;margin-bottom:0;">
         <div class="navbar-header">
           <a href="/" class="navbar-brand">Admin</a>
         </div>
         <div class="info">欢迎:<%- username%>&nbsp;&nbsp;
          <a href="/logout" class="btn btn-danger square-btn-adjust">Logout</a>
        </div>
       </nav>
       <nav class="navbar-default navbar-side text-center" role="navigation">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      个人信息
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                      <ul class="nav nav-second-level">
                          <li>
                            <a href="/">账号信息</a>
                          </li>
                         
                      </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      学生管理
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                      <ul class="nav nav-second-level">
                          <li>
                            <a href="/addstu">添加学生</a>
                          </li>
                          <li>
                            <a href="/stuinfo">学生信息</a>
                          </li>
                          
                      </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      课程管理
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                      <ul class="nav nav-second-level">
                          <li>
                            <a href="/addcourse">添加课程</a>
                          </li>
                          <li>
                            <a href="/courseinfo">课程信息</a>
                          </li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>         
       </nav>
      </div>

