<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/stylesheets/style.css" rel="stylesheet">
    <title><%= title%></title>
    <style>
        body{
            background: url(images/3.jpg) no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="container text-center">
            <h1><%= title%></h1>
        </div>
        <div class="container">
            <form class="form-horizontal" action="/users/login" method="post">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="密码">
                    </div>
                    
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">身份:</label>
                    <label style="display:block;text-indent:1em;" class="text-left">
                      <input type="radio" class="radio-inline" name="identify" value="student">学生
                      <input type="radio" class="radio-inline" name="identify" value="admin">管理员
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" value="Sign in">
                    </div>
                </div>
            </form>
        </div>
    </div> 
</body>
</html>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>

    $(":submit").on("click",function(){
        console.log($('input:radio:checked').val());
        $.ajax({
            url:"/users/login",
            data:{
                identify: $('input:radio:checked').val()
            },
            type:"post",
            success:function(data){
                console.log("success");
                
            }
        })
    })
    
</script>
